.section {
  -webkit-animation: avia-btt 0.8s 1 cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: avia-btt 0.8s 1 cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

@keyframes avia-btt {
  0% {
    transform: translate(0, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

#content {
  margin-top: 80px;
}

.unstyle-list {
  list-style-type: none;
  padding-left: 0;
  margin-right: 0;
}

.container-fluid {
  max-width: 1400px;
}

.wrapper {
  @media (min-width: 768px) {
    padding: 0 120px;
  }

  @include desktop {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  animation: none !important;
  -webkit-animation: none !important;
  display: flex;
  justify-content: center;

  @include desktop {
    height: 240px;
  }

  &-content {
    display: flex;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 27%;
  }

  &-title {
    font-size: 36px;
    font-family: PingFang SC-Semibold, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 42px;
    letter-spacing: 2px;
  }

  &-description {
    font-size: 20px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: 2px;
  }
}

video {
  border-radius: 16px;
  cursor: pointer;
}

video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}

.section-title {
  padding: 60px 0;
  text-align: center;

  h3 {
    margin-bottom: 0 !important;
  }

  .section-subtitle {
    height: 22px;
    font-size: 16px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 300;
    color: $dark;
    line-height: 19px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  @include desktop {
    padding: 30px 0;
  }
}

.text-gradient {
  background: $primary;
  // background-image: -webkit-linear-gradient(148deg, $primary 37%, #FAB438 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  &:hover {
    color: transparent;
  }
}

.developer-whitepaper {
  .btn {
    box-shadow: none;

    &:focus,
    &:active {
      color: unset !important;
      box-shadow: none !important;
    }
  }
}

// add css for markdown table
.posts-detail {
  .posts-content {
    table {
      tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
        background-color: #fff;
        border-top: 1px solid #ccc;

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }

        td,
        th {
          padding: 6px 13px;
          border: 1px solid #ddd;
        }

        th {
          background: rgba(158, 188, 226, 0.2)
        }
      }
    }

    img {
      width: 50% !important;
      position: relative;
      left: 25%;

      @include desktop {
        width: 90% !important;
        left: 5%;
      }
    }
  }
}

// shortcode: video.html
.video-shortcode-wrapper {
  text-align: center !important;

  .video-shortcode {
    width: 50%;
    max-width: 100%;
    height: auto;

    @include desktop {
      width: 90%;
    }
  }
}

// shortcode: img.html
.img-shortcode-wrapper {
  text-align: center !important;

  img {
    width: 50%;
    left: auto !important;

    @include desktop {
      width: 90%;
    }
  }
}