<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.map.APIkey }}&libraries=geometry"></script> -->
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
<script src="{{ "plugins/macy/macy.min.js" | absURL }}"></script>
{{ $formHandler := resources.Get "js/form-handler.js" | minify | js.Build (dict "params" .Site.Params) }}
<script src="{{ $formHandler.Permalink }}" type="text/javascript"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
{{ $loginhandler := resources.Get "js/login.js" | minify }}
<script src="{{ $loginhandler.Permalink }}"></script>