{{ with .Site.Data.targetSection }}
{{ if .enable }}
<section class="section target" id="target">
    <div class="container-fluid wrapper">
        <div class="row justify-content-center">
            <div class="target-header mb-5">
                <span class="top-title">{{ .topTitle | markdownify }}</span>
            </div>
        </div>
        <div class="row target-content">
            {{ $Section := .targets }}
            {{ range $Section }}
            <div class="col-6">
                <div class="target-item">
                    <div class="target-item-inner">
                        <!-- <img class="target-bg" src="images/target/background.svg" alt="background"> -->
                        <div class="img">
                            <img src="{{.icon | absURL}}" alt="target-icon">
                        </div>
                        <div class="content">
                            <p class="sub-title">{{.title}}</p>
                            <div class="text-content text-ellipsis">
                                {{ .content | markdownify }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}